* {
  box-sizing: border-box;
}

body {
  background: $dark-primary-color;
  color: $texticon-color;
  font-size: 16px;
}

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
  font-family: $font-stack;
}

.full-wrapper {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}