// Font variables
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700&subset=latin-ext");

$font-stack: "Roboto Condensed", sans-serif;

// Color variables
$dark-primary-color: #303f9f;
$primary-color: #3f51b5;
$light-primary-color: #c5cae9;
$accent-color: #ff5252;

// Text color variables
$texticon-color: #eee;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;